<!--<h1>Homes#top</h1>-->
<div class="container">
  <!--<div class="row">-->
  <div style="background-image: url('<%= asset_path('top_background.jpg') %>'); background-repeat: no-repeat; background-size: cover;" class="p-5">
<!--</div>-->

  </div>
</div>